<!DOCTYPE html>
<html lang="lt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale="1">
        <title>{% block title %}Flask aplikacijos title, galbut pamirsai sukurti man title?{% endblock %}</title>
        <!-- CSS stylius is static kataloga -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <header>
            <h1>
                <a href="{{ url_for('index') }}">Mano Flask aplikacija</a>
            </h1>
            <nav>
                <ul>
                    <li>
                        <p><a href="{{ url_for('kontaktai') }}">Kontaktai</a></p>
                    </li>
                    <li>
                        <p><a href="{{ url_for('apie') }}">Apie</a></p>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="container">
            {% block turinys %}{% endblock %}
        </div>
        <div class="container">
            {% block apie %}{% endblock %}
        </div>







    </body>
</html>